.wrapper {
    min-height: 70vh;
    margin: 0 auto;
    max-width: 1277px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 16px 90px;
}

.container {
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 6px 18px 0 rgba(232, 224, 229, 0.61);
    background: var(--Neutral-White);
}

.header h1 {
    margin-bottom: 1.5rem;
}

.content {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.content_item p:first-child {
    margin-bottom: 1rem;
    font-weight: bold;
}

.content_item ul li p {
    font-weight: normal !important;
}

.content_item li {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.content_item li:last-child {
    margin-bottom: 0;
}
